<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Hosp.navi.mapper.HospitalMapper">
    <sql id="columns">
        (hospital_uuid, hos_name, hos_number, er_number, hos_address, latitude, longitude)
    </sql>

    <insert id="saveFirst" parameterType="com.Hosp.navi.domain.Hospital">
        insert into Hospital(hospital_uuid, hos_name, hos_number, er_number, latitude, longitude, hos_address)
        values (#{hospital_uuid}, #{hos_name}, #{hos_number}, #{er_number}, #{latitude}, #{longitude}, #{hos_address})
    </insert>

    <insert id="saveAll" parameterType="com.Hosp.navi.domain.Hospital">
        insert into Hospital
        <include refid="columns" />
        values (#{hospital_uuid}, #{hos_name}, #{hos_number}, #{er_number},
        #{hos_address}, #{latitude}, #{longitude})
    </insert>

    <select id="findUUId" resultType="com.Hosp.navi.domain.Hospital">
        select *
        from hospital
        where hospital_uuid = #{hospital_uuid}
    </select>

    <select id="findById" resultType="com.Hosp.navi.domain.Hospital">
        select *
        from hospital
        where hospital_id = #{hospital_id}
    </select>

    <select id="findByName" resultType="com.Hosp.navi.domain.Hospital">
        select *
        from hospital
        where hos_name = #{hos_name}
    </select>

    <select id="findAll" resultType="com.Hosp.navi.domain.Hospital">
        select *
        from hospital
    </select>

</mapper>